.scale-with-grid{
	max-width: 100%;
	height: auto;
}

.description-box {
    font: 11px/21px "Ubuntu",sans-serif;
    letter-spacing: 2px;
    text-align: left;
}

.modal-content .description-box {
    padding: 12px 22px 20px;
}

.modal-content .description-box h4 {
    font: 15px/24px "Ubuntu",sans-serif;
    margin-bottom: 12px;
    color: #111;
}

.modal-content{
	font:15px/24px 'Ubuntu', sans-serif;
}

.modal-content .link-box {
    padding: 18px 36px;
    background: #111;
    text-align: left;
}

.modal-content .link-box a {
    color: #fff;
    font: 11px/21px 'Ubuntu', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
}

.modal-content .description-box .categories i {
    margin-right: 8px;
}