.scale-with-grid{
	max-width: 100%;
	height: auto;
}

.modal-content{
	font:15px/24px 'opensans-bold', sans-serif;
}

.modal-content .link-box {
    padding: 18px 36px;
    background: #111;
    text-align: left;
}

.modal-content .link-box a {
    color: #fff;
    font: 11px/21px 'opensans-bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
}